h1 {
    font-family: "Golos Text", sans-serif;
    font-weight: 700;
    font-size: 140px;
    margin: 0;
}

p {
    font-family: "Golos Text", sans-serif;
    margin: 0;
}

.input_name {
    font-weight: 400;
    font-size: 15px;
}

.tip {
    color: #808080;
    font-size: 13px;
}

.button {
    width: 343px;
    background-color: #222222;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: "Golos Text", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 13px 12px 13px 12px;
}

.input {
    font-family: "Golos Text", sans-serif;
    font-size: 15px;
    font-weight: 400;
    width: 343px;
    border-radius: 10px;
    background-color: #F2F3F5;
    border: none;
    padding: 13px 12px 13px 12px;
}